node_modules
dashboard/backend/preprocesamiento/DB/Resampling_SMOTE/
__pycache__/
*.pyc
.vscode/
dashboard/frontend/preprocesamiento/TestData/extraccion_tweets.csv

dashboard/frontend/preprocesamiento/TestData/Output/prediccion.csv

dashboard/frontend/preprocesamiento/TestData/Output/prediccion_wordcloud.csv

dashboard/img/prediccion.json

dashboard/img/wordcloud_general.png

dashboard/img/wordcloud_negativo.png

dashboard/img/wordcloud_neutral.png

dashboard/img/wordcloud_positivo.png
